@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    word-wrap: break-word;
}

h1, h2 {
    font-weight: bold;
}

p {
    font-size: 20px;
}

.masthead {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/landing.jpg');
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgba(150, 150, 150) !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
}

.dropdown-item:active {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}

.title {
    text-align: center;
    font-size: 50px;
}

code {
    font-family: 'Courier New', monospace;
    font-size: 18px !important;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 5px;
    display: block;
    padding: 20px;
    word-wrap: normal;
    white-space: pre;
    line-height: 1.25em;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
    color: rgb(17, 92, 253);
    background: #eeeeee;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

.scrolled {
    background-color: rgba(6, 26, 56, 0.8) !important;
    transition: background-color 200ms linear;
  }

.scrolled-dropdown-menu {
    background-color: rgb(6, 26, 56) !important;
}

.scrolled-dropdown-item {
    color: white !important;
}

.scrolled-dropdown-item:hover {
    color: black !important;
}