#landing-title {
    font-size: 70px;
}

.btn {
    background-color: rgb(0, 80, 184) !important;
    color: white !important;
}

.btn:hover {
    background-color: rgb(6, 26, 56) !important;
    color: white !important;
}